body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Verdana, Geneva, sans-serif;
  text-align: left;
}

h1 {
  font-weight: 100;
  font-size: 3rem;
  letter-spacing: 0.02em;
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  width: 500px;
}

input {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.25em;
  margin-top: 0.5em;
  border: 3px solid black;
}

button {
  justify-content: center;
  padding:0.25em;

}
