
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
  }


  .container {
    margin: 0 auto;
    width: 500px;
  }

  input {
    width: 100%;
    font-size: .5rem;
    padding: 0.25em;
    margin-top: 0.5em;
    border: 3px solid black;
  }

  button{
    margin-top: 0.5em;
    padding:0.5em;
  }

  div {
    text-align: center;
  }
