body {
  /*background: linear-gradient(to bottom, #7db9e8 0%,#207cca 71%,#1e5799 100%);*/
  margin: 0;
  padding-bottom: 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    background: #755a58;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #db5f4f, #f0955d, #e0a575);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #db5f4f, #f0955d, #e0a575); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
